html, body {
    height: 100%;
    overflow-x: hidden;
}
.card {
    border-radius: 0px;
    border: transparent;
}
.card-img {
    max-height: 300px;
    max-width: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
span {
    text-align: center;
}

/* NAVIGAATIO JA FOOTER*/

.nav-item {
    padding: 30px 30px 0px;
}
.bg-custom {
    background-color: transparent;
}
.navbar-custom > .nav-item:hover .nav-link {
    color: black;
    background-color: white; opacity: 0.7;
    transition: 0.4s;
}
.nav-link.active{
    border-bottom: 2px solid;
}
@media only screen and (max-width: 600px) {
    .nav-link.active {
      border-bottom: 2px solid;
      width: 30%;
    }
  }
  @media only screen and (max-width: 600px) {
    .navbarindex {
        font-weight: bold;
        background-color: rgb(255, 255, 255, 0.4)
    }
  }
.navbar-brand {
    font-size: 30px;
    border: solid 1px;
    padding: 10px;
    margin-top: 30px;
}
.navbardiff {
    background-color: rgb(169, 169, 170);
    padding-bottom: 30px;
}
.footer {
    background-color: rgb(145, 145, 146);
    text-align: center;
    padding: 10px;
}
i {
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 25px;
}

/* ETUSIVU */

.quote {
    padding-top: 7%;
    position: relative;
    font-size: 120%;
    text-align: center;
    color: rgb(150, 122, 47);
    font-style: italic;
}
@media only screen and (max-width: 800px) {
    .actualquote {
      font-size: 70%;
    }
  }
#bg-img{
    background-image: url(../photos/untitled.png);
    background-position: 55% 90%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
@media only screen and (max-width: 1080px) {
    #bg-img {
        background-position: 68% 90%;
    }
  }
  /*@media only screen and (max-width: 800px) {
    .quote {
        padding-top: 20%;
        padding-bottom: 20%;
    }
  } */

/* ABOUT ME */

.about {
    margin-bottom: 20px;
}

/* MY WORK */

.mywork {
    margin-top: 60px;
    margin-bottom: 40px;
}
.myworktitle {
    text-align: start;
    margin-bottom: 10px;
    margin-left: 30px;
}
.myworktext {
    border-left: 5px solid  rgb(243, 208, 112);;
    margin-left: 20px;
    text-align: start;
}

/* CONTACT*/

.contactinfo {
    text-align: center;
    padding: 20px;
    background-color: rgb(238, 208, 127);
    margin-top: -35px;
    margin-bottom: 20px;
}
.getintouch{
    text-align: center;
    min-height: auto;
    padding-top: 15%;
    padding-bottom: 9%;
    background-image: url(../photos/sini.JPG);
    background-size: 100% auto;
    background-position: 25% 61%;
    background-repeat: no-repeat;
    color: rgb(243, 208, 112);
    font-size: 150%;
}

/* KARUSELLI */

.karuselli {
    margin-top: 20px;
    margin-bottom: 40px;
}
.col-centered {
    float: none;
    margin: 0 auto;
}
.carousel-indicators li {
    background-color:rgb(243, 208, 112);
    padding: 3px;   
}
.carousel-indicators .active {
    background-color: #d17804;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='orange' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    background-color: white;
    padding: 15px;
    border-radius: 30px;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='orange' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    background-color: white;
    padding: 15px;
    border-radius: 30px;
}

/* CONTACT FORMS */

input[type=text], input[type=email], input[type=number], select {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input:focus::placeholder {
    color: transparent;
  }
.required {
    color:red;
    margin-left: 5px;
}
textarea {
    border-radius: 4px;
    padding: 12px 20px;
    border-color: rgb(212, 204, 204);
    width: 60%;
}
textarea:focus::placeholder {
    color: transparent;
}

/* BUTTONS */

input[type=submit] {
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 10px 2px;
    cursor: pointer;
    transition: 0.4s;
}
input[type=submit]:hover {
    background-color: rgb(57, 95, 57);
}
.fa-chevron-up{
    color: rgb(243, 208, 112);
}
.btn-custom {
    background-color: rgb(105, 110, 163);
    margin-top: -100px;
}
.btn-custom:hover {
    background-color:rgb(69, 75, 133);
}

